altgraph==0.17.5
bleak==3.0.2
colorama==0.4.6
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
python-osc==1.10.2
pywin32-ctypes==0.2.3
qrcode==8.2
setuptools==84.0.0
typing_extensions==4.16.0
websockets==17.1
win32more==0.8.1
win32more-appsdk==0.8.3
win32more-core==0.8.7
win32more-Microsoft.Graphics.Win2D==0.8.1.4.0
win32more-Microsoft.Web.WebView2==0.8.1.0.4191.47
win32more-Microsoft.Windows.SDK.Contracts==0.8.10.0.28000.2705
win32more-Microsoft.Windows.SDK.Win32Metadata==0.8.71.0.26
win32more-Microsoft.Windows.WDK.Win32Metadata==0.8.0.13.25
win32more-Microsoft.WindowsAppSDK==0.8.2.5.1
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Devices.Radios==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Storage.Streams==3.2.1
